@media (max-width: 768px) {
    .Newarrive-mansory img {
width: 100%;
    }

    .category .custom-width {
    width: 50%;
    margin-bottom: 20px;
}

    .newlook p {

        top: 60%;
    }
    h3.newlook-caption {
        top: 26%;
    }
   .custom-width {
    
        width: 50%;
    }
    .category-item {
        width: unset;
    }

    .Newarrive-right h4{
        margin-top: 0;
        text-align: left;
    }
    
    
    

  }