@font-face {
	font-family: FrutigerLTArabic-55Roman; 
	src: url('../fonts/FrutigerLTArabic-55Roman.ttf');
  }
  * :not(i){

	font-family:FrutigerLTArabic-55Roman !important;
  }
  
 

  body {
	  background: #f9f9f9;
	font-family:FrutigerLTArabic-55Roman !important;
	overflow-x: hidden;
	width: 100%;
	-webkit-font-smoothing: antialiased ;
	-moz-osx-font-smoothing: grayscale;
	}
	
	ul.headertop_menu {
    float: inherit;
    margin-right: -13px;
}

li.ExpandCategoris-item:before {
	/* border-left: 1px solid #f9f9f947; */
	/* padding-left: 23px; */
	height: 50px;
	position: absolute;
	width: 30px;
	content: "";
	margin-right: 78px;
	top: 32px;
}

.headersliderx {
	direction: ltr;
}

.popular-brand__item p {
	margin-right: 27px;
}

.popular-brand__item h3 {
	margin-right: 27px;
}

h3.newlook-caption {
    top: 37%;
}





.btn-custom-3{
	left: 18px;
	right: inherit;
}

.newsletter__caption h3{
	text-align: right;
}

.newsletter__caption p{
	text-align: right;
}

ul.social-network {
	float: right;
}

ul.headertop_menu.right li:before {
	margin-right: -10px;
}

.Newarrive-right h4 {
	text-align: left;
}

.Newarrive-left p {
	float: right;
}

.Newarrive-left h4 {
	text-align: right;
}

.col-md-12.finalsale__item-details h3 {
	text-align: right;
}

.popular-products .finalsale__item-details img {
	float: left;
}

.footer-address h3, .footer-phone h3 {
	text-align: right;
}

.footer {
	text-align: right;
}

.footer-address h3, .footer-phone h3 {
	color: #fff;
	font-size: 14px;
	text-align: right;
	line-height: 19px;
	margin-top: 2px;
}

.footer-menu-title h3 {
	text-align: right;
}

span.product-filter-name img {
	margin-left: 24px;
}

.products .products_switch {
	float: left;
}

span.wishlist-icon {
	float: left;
}

button.add-to-cart.second-btn.btn.btn-default {
	float: right;
}

button.add-to-cart.second-btn.btn.btn-default i {
	float: left;
}

span.number-review {
	margin-right: 61px;
}

.product-filter__menu-color h3 {
	text-align: right;
}



.Breadcrumb-holder li.active {
	float: right;
}

span.number-review {
	margin-right: 12px;
}

.oufit-cotainer__image {
	float: right;
}


.outfit-add__btn {
	float: left;
}

.oufit-cotainer__content h3 {
	text-align: right;
}

button.outfit-add__cart.second-btn.btn.btn-default {
	margin-left: 7px;
}

span.product-filter-name {
	float: right;
	margin-bottom: 16px;
}

.Reviews__right {
	margin-right: 69px;
}

.features__item {
	margin-left: 39px;
}


.features__item-caption:after {
	right: 40px;
}
.clearfix {
	clear: right;
}

.payment__method-add__holder {
	float: left;
}

img.media-object {
	float: left;
}


span.payment__method-edit.label.pull-right {
		padding-right: 4px;
		margin: 0px 5px;
}

.rating li {
	float: right;
}

li.new-price {
	float: right;
	margin-right: inherit;
	margin-left: 9px;
}


.Newarrive-left a {
	margin-right: 9px;
}

.cart-category {
	float: right;
}

li.was-price{
	float: unset;
}

li.was-price {
	text-align: right;
}

span.finalsale__was {
    float: right;
	margin-left: 22px;
}

a {
    font-family: FrutigerLTArabic-55Roman !important;
  
}


p{

	font-family: 'Oswald', FrutigerLTArabic-55Roman !important;
}

.user-profile input.custom-hight.form-control, ::-webkit-input-placeholder{
	font-family: 'myFont', FrutigerLTArabic-55Roman;
}

.user-profile__birthday input[type="text"]::-webkit-input-placeholder{
	font-family: 'myFont', FrutigerLTArabic-55Roman;
}

p.event-caption-date {
    margin-top: 41px !IMPORTANT;
}

.Newarrive-left span {
    margin: 2px 3px;
}

.features__item-caption:after {
    right: 19px;
}

ul.product-filter__menu.product-categorie li.active-category a {
    float: right;
	margin: 13px 0px;
	clear: both;
}

.product-filter__menu.shop-type h3 {
    clear: both;
	margin: 0 auto;
	text-align: right;
}

ul.product-filter__menu.product-categorie hr {
	clear: both;
}

.color-item.custome {
	background: #ff0202;
}

img {
    vertical-align: bottom;
}

span.product-filter-name img {
    margin-right: inherit;
}

.productItem__caption {
    margin-bottom: 61px;
}

.productItem__caption p {
    margin-bottom: 107px;
}

.user-profile__social label.control-label {
    white-space: pre;
    line-height: 1;
    margin: 19px;
}


.user-profile__social .input-group .form-control {
    border: 1px solid #e9e9e9;
    -webkit-box-shadow: none;
    box-shadow: none;
    height: 40px;
	right: 0px !important;
    text-indent: 42px;
    margin-bottom: 10px;
    border-radius: 4px;
    margin-right: 0px !important;
    width: 100%;
}

.Breadcrumb-holder .breadcrumb>li+li:before {
    content: "\F104" !important;
    float: left;
    margin: 4px 1px;
}

button.order-empty__start{
	text-align: center;
}

span.input-group-addon i {
	right: 45px;
}

span.input-group-addon i:after {
	right: 32px;
}

.user-profile select{
	margin-right:0px; 
}

.user-profile label.col-sm-2.control-label {
    text-align: right;
}

.terms__content-condittion p {
    text-align: right;    
}

.terms__content-condittion h3{
	text-align: right;  
}

.terms__list-number h3, .terms__list-markered h3 {
	text-align: right !important;
}

.terms__list-markered ul li:before {
    right: 0px;
    margin-top: 17px;
}

.terms__list-number li, .terms__list-markered li {
	text-align: right;
}

.terms__content td.popular-item {
	text-align: right !important;
}

th.t-smallpopular {
    float: right !important;
}

.terms__content .table th, .terms__content .table td {
	text-align: right !important;
}

.terms-quote h4 {
    text-align: left;
	text-align: right;
}

.terms-quote h4:before {
	right: 86px;
	height: 105px;
}

p.terms-quote__second {
	text-align: right;
	
}

.terms__list-number ol {
    /* padding-left: 10px; */
    padding-top: 25px;