@font-face {
	font-family: "SST-Arabic-Roman";
	src: url('../fonts/FrutigerLTArabic-65Bold.ttf');
  }
  
  body {
	  background: #f9f9f9 !important;
	font-family:"FrutigerLTArabic-65Bold" !important;
	overflow-x: hidden;
	width: 100%;
	-webkit-font-smoothing: antialiased ;
	-moz-osx-font-smoothing: grayscale;
  }